In [10]:
import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv('C:/Users/bkesa/Downloads/Amazon_Unlocked_Mobile.csv')

# Sampling data
df = df.sample(frac = 0.1, random_state = 10)
df.head()

                                             Product Name  ... Review Votes
394349  Sony XPERIA Z2 D6503 FACTORY UNLOCKED Internat...  ...          0.0
34377       Apple iPhone 5c 8GB (Pink) - Verizon Wireless  ...          1.0
248521  Motorola Droid RAZR MAXX XT912 M Verizon Smart...  ...          3.0
167661  CNPGD [U.S. Office Extended Warranty] Smartwat...  ...          0.0
73287   Apple iPhone 7 Unlocked Phone 256 GB - US Vers...  ...          1.0

[5 rows x 6 columns]

In [11]:
# Dropping missing values
df.dropna(inplace= True)

# Removing Neutral ratings = 3
df = df[df['Rating'] != 3]

# Encode 4s and 5s as 1 (rated positive)
# Encode 1s and 2s as 0 (rated poorly)
df['Positively Rated'] = np.where(df['Rating'] > 3,1,0)
df.head(10)

                                             Product Name  ... Positively Rated
34377       Apple iPhone 5c 8GB (Pink) - Verizon Wireless  ...                0
248521  Motorola Droid RAZR MAXX XT912 M Verizon Smart...  ...                1
167661  CNPGD [U.S. Office Extended Warranty] Smartwat...  ...                0
73287   Apple iPhone 7 Unlocked Phone 256 GB - US Vers...  ...                1
277158  Nokia N8 Unlocked GSM Touch Screen Phone Featu...  ...                1
100311  Blackberry Torch 2 9810 Unlocked Phone with 1....  ...                1
251669  Motorola Moto E (1st Generation) - Black - 4 G...  ...                1
279878  OtterBox 77-29864 Defender Series Hybrid Case ...  ...                1
406017  Verizon HTC Rezound 4G Android Smarphone - 8MP...  ...                1
302567  RCA M1 Unlocked Cell Phone, Dual Sim, 5Mp Came...  ...                1

[10 rows x 7 columns]

In [12]:
# Most ratings are positive
df['Positively Rated'].mean()

0.7471776686078667

In [17]:
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['Reviews'],
                                                    df['Positively Rated'],
                                                    random_state = 0)

In [19]:
print('X_train first entry:\n\n', X_train.iloc[0])
print('\n\nX_train shape: ', X_train.shape)

X_train first entry:

 Everything about it is awesome!


X_train shape:  (23052,)

In [20]:
# Count Vectorizer